.HomePageContent__contentContainer {
  .edit-form {
    @media (max-width: $breakpoint-m) {
      .Form {
        > div {
          grid-column: span 12 / span 12;
        }
      }
    }
  }
  .create-btn-container {
    @media (max-width: $breakpoint-m) {
      justify-content: flex-start;
      margin-top: 24px;
    }
  }
}

.no-results {
    background-color: $color-no-results;
    padding: 4px 16px;
    margin-bottom: 8px;
    border-radius: 4px;
    display: block;
    width: fit-content;
    
    p {
      color: #fff;
      font-size: 16px;
    }
  }
