.switch{

    &__inactive {
        position: relative;
        width: 2.2rem;
        height:0.9rem;
        background: #bec1c4;
        border-radius: 10px;
        transition: all .6s;
        cursor: pointer;
    }

    &__inactive:hover{
        box-shadow: 1px 2px 6px rgba(0,0,0,0.7);
    }

    &__active {
        position: relative;
        width: 2.2rem;
        height:0.9rem;
        background: var(--c-bg-switch-hover);
        border-radius: 10px;
        transition: all .6s;
        cursor: pointer;
    }

    &__active:hover{
        box-shadow: 1px 2px 6px rgba(0,0,0,0.7);
    }
}

.switch-pointer {
    &__inactive {
        position: absolute;
        bottom: -2.22px;
        width: 1.25rem;
        height:1.25rem;
        left:-4px;
        background: #fdfdfd;
        border-radius: 100%;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
        transition: all .6s;
    }

    &__active {
        position: absolute;
        bottom: -2.22px;
        width: 1.25rem;
        height:1.25rem;
        right: -2px;
        background: #fdfdfd;
        border-radius: 100%;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
        transition: all .6s;
    }

    &__inactive:hover{
        box-shadow: 1px 2px 6px rgba(0,0,0,0.7);
    }
}
