.container_profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  gap: 3rem;
  margin-top: 4rem;
  @media (max-width: $breakpoint-m) {
    display: flex;
    flex-direction: column-reverse;
  }
  .profile_img {
    transform: scaleX(-1);
    margin-top: 40px;
    @media (max-width: $breakpoint-m) {
      margin-top: 16px;
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .Form {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .link_change_password {
      color: $color-black;
      text-decoration: underline;
      width: fit-content;
      &:hover {
        color: darken($color: $color-black, $amount: 10%);
      }
    }
  }
}
