.modal-docs {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;

  &.modal-docs--open {
    display: block;
  }

  .modal-docs--container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 50%;
    min-height: 30%;
    max-height: 60%;
    padding: 20px;
    overflow: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    @media (max-width: $breakpoint-m) {
      width: 90%;
    }

    .modal-close {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;

      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
      }
    }

    .modal-docs--title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px;
      text-align: center;
    }

    .modal-docs--content {
      .modal-contract--name {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        text-align: center;
        border-bottom: 1px solid #d3d3d3;
        padding-bottom: 10px;

        span {
          font-weight: 400;
        }
      }

      .modal-docs--content__item__doc {
        margin-top: 20px;

        li {
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 14px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          div {
            @media (max-width: $breakpoint-m) {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 4px;

              button {
                margin: 0;
                width: 100%;
                height: 100%;
              }
            }
          }

          span {
            max-width: 200px;
            word-break: break-all;
            color: #585858;
          }

          .btn-primary, button{
            cursor: pointer;
            padding: 8px;
            border-radius: 4px;
            font-size: 14px;
          }
        }
      }

      form {
        display: flex;
        gap: 8px;
        margin-top: 24px;

        .Form {
          width: 100%;

          .File {
            width: 100%;
            grid-column: span 12/span 12;
            .label-container {
              display: none;
            }

            .File__box {
              background-color: $color-white;
              color: $color-black;
            }
          }
        }

        .btn-primary {
          width: 100%;
          max-height: 66px;
        }
      }
    }
  }
}
