.Form {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  color: $color-white;
}

.label-global {
  font-size: 18px;
  margin-left: 12px;
  font-weight: 400;
  color: var(--text-black);
}
