@import "@/scss/index.scss";

.DatePack{
    
    &__input {
        width: 100%;
        padding: 8.5px;
        border-radius: 6.5px;
        background: $background-grey-light;
    }
}

.controlInput{
    display: flex;
    flex-direction: column;

    &__text{
        margin-top:4px;
        font-size: 15.5px;
        color: $error;
    }
}