$breakpoint-s: 480px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;

//colors
$color-white: #ffffff;
$color-black: #000000;
$color-gray-soft: #1F2937;
$color-gray-dark: #111827;
$color-gray-light: #9CA3AF;
$color-gray-hover: #6B7280;
$color-violet: #4A1D96;
$color-violet-hover: #5521B5;

$color-no-results: rgb(255, 84, 84);