/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --black: #001b35;
  --gray: #f0f3f4;
  --grey-light: rgba(206, 214, 214, 0.781);
  --black-web: #16212b;
  --red: #d12f2d;
  --white: #fff;
  --blue: #1890ff;
  --green: #40ce08;
  --violet: #7508ce;
  --blue-light: #1da1f2;

  --text-black: var(--black);
  --text-grey: var(--gray);
  --text-grey-light:  var(--grey-light);
  --text-black-web:  var(--black-web);
  --text-red: var(--red);
  --text-white: var(--white);
  --text-blue: var(--blue);
  --text-green: var(--green);
  --text-violet: var(--viole);
  --text-blue-light:  var(--blue-light);

  --background-black: var(--black);
  --background-grey: var(--gray);
  --background-grey-light: var(--grey-light);
  --background-black-web: var(--black-web);
  --background-red: var(--red);
  --background-white: var(--white);
  --background-blue: var(--blue);
  --background-green: var(--green);
  --background-violet: var(--violet);
  --background-blue-light: var(--blue-light);

  --border-grey: var(--gray);

}

/* colors */
.c-bg-blue {
  background: var(--background-blue) !important;
}

.c-bg-white {
background: var(--background-white) !important;
}

.c-bg-red {
background: var(--background-red) !important;
}

.c-bg-blue-light {
background: var(--background-blue-light) !important;
}

.c-bg-green {
background: var(--background-green) !important;
}

.c-bg-black {
background: var(--background-black) !important;
}

.c-bg-gray-light {
background: var(--background-grey-light) !important;
}

.c-bg-violet {
background: var(--background-violet) !important;
}

.c-bg-transparent{
background: transparent !important;
}

/* text color */

.c-text-white {
color: var(--text-white) !important;
}

.c-text-black {
color: var(--text-black) !important;
}

.c-text-grey {
color: var(--text-grey) !important;
}

.c-text-green {
color: var(--text-green) !important;
}

.c-text-red {
color: var(--text-red) !important;
}

.c-text-gray {
color: var(--text-grey) !important;
}

.c-text-blue-light {
color: var(--text-blue-light) !important;
}

.c-text-blue{
color: var(--text-blue) !important;
}

/* text size */
.c-text-xs	{
  font-size: 0.75rem; /* 12px */
line-height: 1rem; /* 16px */
}
.c-text-sm	{
  font-size: 0.875rem; /* 14px */
line-height: 1.25rem; /* 20px */
}
.c-text-base	{
  font-size: 1rem; /* 16px */
line-height: 1.5rem; /* 24px */
}
.c-text-lg	{
  font-size: 1.125rem; /* 18px */
line-height: 1.75rem; /* 28px */
}
.c-text-xl	{
  font-size: 1.25rem; /* 20px */
line-height: 1.75rem; /* 28px */
}
.c-text-2xl	{
  font-size: 1.5rem; /* 24px */
line-height: 2rem; /* 32px */
}
.c-text-3xl	{
  font-size: 1.875rem; /* 30px */
line-height: 2.25rem; /* 36px */
}
.c-text-4xl	{
  font-size: 2.25rem; /* 36px */
line-height: 2.5rem; /* 40px */
}
.c-text-5xl	{
  font-size: 3rem; /* 48px */
line-height: 1;
}
.c-text-6xl	{
  font-size: 3.75rem; /* 60px */
line-height: 1;
}
.c-text-7xl	{
  font-size: 4.5rem; /* 72px */
line-height: 1;
}
.c-text-8xl	{
  font-size: 6rem; /* 96px */
line-height: 1;
}
.c-text-9xl	{
  font-size: 8rem; /* 128px */
line-height: 1;
}


/* // border */

.c-border-white {
border-color: var(--text-white);
}

.c-border-black {
border: 1px solid var(--text-black)
}

.c-border-grey {
border-color: var(--text-grey);
}

.c-border-green {
border-color: var(--text-green);
}

.c-border-red {
border-color: var(--text-red);
}

.c-border-gray {
border-color: var(--text-grey);
}

.c-border-blue-light {
border-color: var(--text-blue-light);
}

.c-border-blue{
border-color: var(--text-blue);
}


/* // rounded */

.c-border-rounded-lg{
  border-radius: 10px;
}

.c-border-rounded-l{
  border-radius: 5px;
}


/* // padding */

.c-p-y-3{
  padding-top: 4px;
  padding-bottom: 4px;
}

.c-p-x-3{
  padding-left: 4px;
  padding-right: 4px;
}

.c-p-x-4{
  padding-left: 10px;
  padding-right: 10px;
}

.c-p-4{
  padding: 1rem; /* 16px */
}

/* // flex */

/* // grid */


.c-grid {
  display: grid;
}

.c-grid-cols-12{
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.c-col-span-12{
  grid-column: span 12 / span 12;
}

.c-col-span-10{
  grid-column: span 10 / span 10;
}
.c-col-span-8{
  grid-column: span 8 / span 8;
}
.c-col-span-6{
  grid-column: span 6 / span 6;
}
.c-col-span-4{
  grid-column: span 4 / span 4;
}
.c-col-span-2{
  grid-column: span 2 / span 2;
}

.c-gap-2{
  gap: 0.5rem;
}

/* flex */

.c-flex {
  display: flex;
}

.c-flex-col{
  flex-direction: column;
}

.c-flex-row{
  flex-direction: row;
}

.c-justify-end{
  justify-content: flex-end;
}
.c-justify-center{
  justify-content: center;
}
.c-items-center{
  align-items: center;
}

/* margins */

.c-m-2 {
  margin: 0.5rem;
}

.c-mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.c-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.c-my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.c-mb-2{
  margin-bottom: 0.5rem; /* 8px */
}

.c-mb-3 {
  margin-bottom: 0.75rem;
}

.c-mb-6 {
  margin-bottom: 1.5rem;
}

.c-mt-4{
  margin-top: 1rem; /* 16px */
}

.c-mr-4 {
  margin-right: 1rem; /* 16px */
}

.c-ml-2{
  margin-left: 0.5rem; /* 8px */
}

/* width */

.c-w-0	{
  width: 0px;
}
.c-w-px	{
  width: 1px;
}

.c-w-1	{
  width: 0.25rem; /* 4px */
}
.c-w-2	{
  width: 0.5rem; /* 8px */
}
.c-w-3	{
  width: 0.75rem; /* 12px */
}
.c-w-4	{
  width: 1rem; /* 16px */
}
.c-w-5	{
  width: 1.25rem; /* 20px */
}
.c-w-6	{
  width: 1.5rem; /* 24px */
}
.c-w-7	{
  width: 1.75rem; /* 28px */
}
.c-w-8	{
  width: 2rem; /* 32px */
}
.c-w-9	{
  width: 2.25rem; /* 36px */
}
.c-w-10	{
  width: 2.5rem; /* 40px */
}
.c-w-11	{
  width: 2.75rem; /* 44px */
}
.c-w-12	{
  width: 3rem; /* 48px */
}
.c-w-14	{
  width: 3.5rem; /* 56px */
}
.c-w-16	{
  width: 4rem; /* 64px */
}
.c-w-20	{
  width: 5rem; /* 80px */
}
.c-w-24	{
  width: 6rem; /* 96px */
}
.c-w-28	{
  width: 7rem; /* 112px */
}
.c-w-32	{
  width: 8rem; /* 128px */
}
.c-w-36	{
  width: 9rem; /* 144px */
}
.c-w-40	{
  width: 10rem; /* 160px */
}
.c-w-44	{
  width: 11rem; /* 176px */
}
.c-w-48	{
  width: 12rem; /* 192px */
}
.c-w-52	{
  width: 13rem; /* 208px */
}
.c-w-56	{
  width: 14rem; /* 224px */
}
.c-w-60	{
  width: 15rem; /* 240px */
}
.c-w-64	{
  width: 16rem; /* 256px */
}
.c-w-72	{
  width: 18rem; /* 288px */
}
.c-w-80	{
  width: 20rem; /* 320px */
}
.c-w-96	{
  width: 24rem; /* 384px */
}
.c-w-auto	{
  width: auto;
}

.c-w-full	{
  width: 100%;
}
.c-w-screen	{
  width: 100vw;
}
.c-w-min	{
  width: min-content;
}
.c-w-max	{
  width: max-content;
}
.c-w-fit	{
  width: fit-content;
}