@import './variables.scss';

.AppRoot-fullPage {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 0;
 
}

.AppMain {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  // padding-top: 20px;
}

.AppMain__layer {
  display: flex;
  flex: 1 1 0;
  min-height: 1px;
}

.AppMain__PageAndTopBar {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}
.AppMain__layer__PageAndTopBar {
  flex: 1;
  overflow-y: auto;
}

.HomePageContent {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  min-height: 1px;
  position: relative;
}

.HomePageContent__contentContainer {
  width: 100%;
}

.Scrollable--vertical {
  min-height: 1px;
  // overflow-y: auto;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter"), url("../fonts/Inter-Regular.otf") format("truetype");
}

/* presets formats general base */


html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: "Inter", sans-serif;
}

