.navbar-container {
  height: 61px;
  width: 100%;
  background: var(--c-bg-navBar);
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--c-color-border-bottom-navBar);
  // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  &__main {
    display: flex;
    padding: 10px;
    @media (max-width: 768px) {
      width: 100%;
      justify-content: space-between;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
      @media (max-width: 768px) {
        height: auto;
        width: auto;
      }

      &.navbar-menu__icon {
        display: none;
        @media (max-width: 768px) {
          display: block;
        }
      }
    }
    &__title {
      color: var(--c-text-navBar);
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 19px;
    }
  }
}
