.navbar-container {
    height: 61px;
    width: 100%;
    background: var(--background-primary);
    border-radius: 0px;
    display: flex;
    justify-content: space-between;

    &__main{
        display: flex;
        padding: 10px 0;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &__title{
            color: var(--white);
            display: flex;
            align-items: center;
            font-weight: 500;
            font-size: 19px;
        }
    }
    
}