

.Textarea {
    width: 100%;

    &__input:focus{
        outline: none !important;
    }

    .container {
        display: flex;
        align-items: center;
        gap: 8px;

        .input_icon {
            width: 26px;
            height: 26px;
            object-fit: cover;
        }
    }
}

.controlTextarea{
    display: flex;
    flex-direction: column;

    &__text{
        margin-top:4px;
        font-size: 15.5px;
        color: var(--red);
    }
}