.modalAppOverlay{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: .2s cubic-bezier(.25,.8,.25,1);
    width: 100%;
    z-index: 1000;
    outline: none;

    &__container-auto-screen {
        border-radius: 7px;
        overflow-y: auto;
        pointer-events: auto;
        transition: .3s cubic-bezier(.25,.8,.25,1);
        width: auto;
        box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
        background:white;
        max-height: 100%;
        z-index: 1000;
    }

    &__container-media-screen {
        border-radius: 7px;
        overflow-y: auto;
        pointer-events: auto;
        transition: .3s cubic-bezier(.25,.8,.25,1);
        width: 100%;
        box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
        background:white;
        min-height: 100%;
        max-height: 100%;
        height: 100vh;
        z-index: 1000;
    }

    &__container-full-screen {
        overflow-y: auto;
        pointer-events: auto;
        transition: .3s cubic-bezier(.25,.8,.25,1);
        width: 100vw;
        box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
        background:white;
        max-height: 100%;
        min-height: 100%;
        height: 100vh;
        z-index: 1000;
    }
}

@media (min-width:620px){
   .modalAppOverlay__container-media-screen{
     border-radius: 7px;
     margin: 24px;
     overflow-y: auto;
     pointer-events: auto;
     transition: .3s cubic-bezier(.25,.8,.25,1);
     width: 100%;
     z-index: inherit;
     box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
     background:white;
     max-height: 90%;
     height: auto;
     min-height: auto;
   }
 }

.header{

  display: flex;
  flex-direction: row;
  margin: 0.7rem 0px;
  padding-left: 10px;
  padding-right: 10px;

}


.xs{
    max-width: 450px;
}

.md{
max-width: 600px;
}

.lg{
max-width: 750px;
}

.xl{
max-width: 850px;
}

.xll{
max-width: 950px;
}

.full{
max-width: 100%;
}