.add-contract-container {
  h1 {
    font-weight: 600;
  }

  .Form {
    gap: 40px;
    margin-top: 40px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    @media (max-width: $breakpoint-m) {
      grid-template-columns: repeat(2, 1fr);
      gap: 22px;
    }

    .label-container {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      margin-left: 38px;
      font-size: 15px;
      font-weight: 500;

      .label {
        font-size: 15px;
        display: block;
        color: $color-black;
      }

      .required {
        color: #ff0000;
        margin-left: 4px;
      }
    }

    .Select_container,
    .controlInput,
    .File,
    .DatePack {
      grid-column: auto;
      height: fit-content;
      gap: 0;
      @media (max-width: $breakpoint-m) {
        grid-column: span 12 / span 12;
      }

      .controlInput__text {
        margin-left: 32px;
        margin-top: 4px;
        font-size: 15.5px;
        color: $color-white;
        background-color: $color-no-results;
        border-radius: 4px;
        padding: 2px 8px;
      }
    }

    .Select__menu {
      margin-left: 36px;
    }
  }

  .text-required {
    margin-top: 40px;
    display: block;
    font-size: 15px;
    color: $color-black;
    span {
      color: #ff0000;
    }
  }

  .btn-primary {
    margin-top: 46px;
    display: flex;
    width: 30%;
    text-align: left;
    justify-content: center;
    align-items: center;
    min-height: 46px;
    text-transform: uppercase;
    font-weight: 500;
    @media (max-width: $breakpoint-m) {
      width: 100%;
    }
  }
}
