.c-bg-btn-filter{
    background: $c-bg-button-filter;
    &:hover {
        background: lighten($color: $color-violet, $amount: 20%)
    }
}
.c-text-btn-filter{
    color: var(--c-text-button-filter);
}

.c-bg-btn-filter-remove{
    background: $c-bg-button-filter;
    &:hover {
        background: lighten($color: $color-violet, $amount: 20%)
    }
}
.c-text-btn-filter-remove{
    color: var(--c-text-button-filter-remove);
}

.c-bg-button-store{
    background: $c-bg-button-store;
    &:hover {
        background: darken($color: $c-bg-button-store, $amount: 10%)
    }
}

.c-text-button-store{
    color: var(--c-text-button-store);
}

.c-bg-button-edit-table{
    background: var(--c-bg-button-edit-table);
}
.c-text-button-edit-table{
    color: var(--c-text-button-edit-table);
}
.c-bg-button-delete-table{
    background: var(--c-bg-button-delete-table);
}
.c-text-button-delete-table{
    color: var(--c-text-button-delete-table);
}