.SidebarResizableContainer{
    background: var(--background-primary);
    height: calc(100vh - 75px); //DINAMICO X APP
    border-radius: 0px 8px 8px 0px;
    top: 7px; //DINAMICO X APP
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-end;
    position: relative;
    transition: all 0.5s;

    &__sidebarWrapper {
        display: flex;
        transition: left 0.3s ease-in-out;
    }

    &__sidebar {
        flex: 1;
    }

    &__item {
        display: flex;
        align-items: center;
        margin:0px 10px 0px 10px;

        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &__box{
            display: flex;
            flex-direction: column;

            &__item:hover{
                background: var(--background-hover-sidebar);
                // opacity: 0.2;
                border-radius: 15px;
            }
            &__item{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px 6px;
                gap: 8px;


                &__title {
                    width: 95px;
                    // font-family: "Quicksand-Bold";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 18px;
                }

                &__boxImg{
                    width:28px;
                    height:27px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }


    }
}

.subSectionContainer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    transition: all 0.2s ease-in-out;

}

.subSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    width: 85%;
    font-size: 14px;

    &__title{
        // margin-left: 10px;
        text-align: left;
        color: var(--black);
        font-weight: 500;
        width: 100%;
    }

    &__img{
       width: 15px;
       height: 15px;
       
       img{
        width: 100%;
        height: 100%;
       }
    }
}

.subSection:hover{
    background: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}


.Sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0px 20px 20px 0px;
    padding: 10px 0px;
    padding-right: 1.5px; /* Increase/decrease this value for cross-browser compatibility */

    &__Top{
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 70%;
    }

    &__Top::-webkit-scrollbar{
        height: 8px;
        width: 4px;
    }

    &__Top::-webkit-scrollbar-thumb{
        -webkit-border-radius: 1ex;
    }

    &__Above::-webkit-scrollbar{
        height: 8px;
        width: 4px;
    }

    &__Above::-webkit-scrollbar-thumb{
        -webkit-border-radius: 1ex;
    }

    &__Above{
        overflow-y: auto;
        overflow-x: hidden;
        // padding-top: 5%;
        max-height: 30%;
    }
}