.add-contract-container {
  padding: 20px;
  h1 {
    font-weight: 600;
  }

  .Form {
    gap: 40px;
    margin-top: 40px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    .label-container {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      margin-left: 38px;
      font-size: 15px;
      font-weight: 500;

      .label {
        font-size: 15px;
        display: block;
      }

      .required {
        color: #ff0000;
        margin-left: 4px;
      }
    }

    .Select_container,
    .controlInput,
    .File {
      grid-column: auto;
      height: fit-content;
      gap: 0;

      .controlInput__text {
        margin-left: 32px;
      }
    }

    .Select__menu {
      margin-left: 36px;
    }
  }

  .text-required {
    margin-top: 40px;
    display: block;
    font-size: 15px;

    span {
      color: #ff0000;
    }
  }

  .btn-primary {
    margin-top: 46px;
    display: flex;
    width: 30%;
    text-align: left;
    justify-content: center;
    align-items: center;
    min-height: 46px;
    text-transform: uppercase;
    font-weight: 500;
  }
}
