.File {
  width: 100%;

  &__box {
    padding: 10px 10px;
    border-radius: 35px;
    width: 21rem;
    height: auto;
    background-color: $color-gray-soft;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $color-white;

    &__img {
      display: flex;
      justify-content: center;
    }
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 2px;
      cursor: pointer;

      .name-file {
        font-size: 12px;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    gap: 8px;

    .File__icon {
      width: 26px;
      height: 26px;
      object-fit: cover;
    }
  }
}

.color-files-normal {
  border: 2px dotted #a19a9a;
}

.color-files-error {
  border: 2px dotted #e33748;
}

.controlInput {
  display: flex;
  flex-direction: column;

  &__text {
    margin-top: 4px;
    font-size: 15.5px;
    color: $color-white;
    background-color: $color-no-results;
    border-radius: 4px;
    padding: 2px 8px;
  }
}


.image-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  &__box {
    width: 31%;
    display: flex;
    position: relative;
    margin-right: 2px;
    margin-bottom: 5px;
    border: 1px solid gray;
    display: inline-block;
    justify-content: center;
    align-items: center;



    &__remove{
      background: rgb(160, 158, 158);
      border-radius: 50%;
      color: white;
      display: flex;
      justify-content:center;
      align-items: center;
      position: absolute;
      right: 2px;
      height: 20px;
      width: 20px;
      text-align: center;
      cursor: pointer;
    }
    img{
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      cursor: pointer;
      max-height: 150px; /* Altura máxima de la imagen */
      display: block;
      margin: auto;
    }
  }
}

.c-tooltip {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding: 8px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 100;
}