.c-btn-primary{
    background: var(--c-bg-button);
}

.c-bg-btn-filter{
    background: var(--c-bg-button-filter);
}
.c-text-btn-filter{
    color: var(--c-text-button-filter);
}

.c-bg-btn-filter-remove{
    background: var(--c-bg-button-filter-remove);
}
.c-text-btn-filter-remove{
    color: var(--c-text-button-filter-remove);
}