.DatePack {
  &__input {
    width: 100%;
    padding: 8.5px;
    border-radius: 6.5px;
    background: var(--c-bg-datePack);
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .Select__icon {
    width: 26px;
    height: 26px;
    object-fit: cover;
  }
}

.controlInput {
  display: flex;
  flex-direction: column;

  &__text{
    margin-top:4px;
    font-size: 15.5px;
    color: var(--c-text-error-select);
    background-color: var(--c-bg-error-input);
    border-radius: 4px;
    padding: 2px 8px;
  }
}
