

.Input {
    width: 100%;
    gap: 8px;

    &__input:focus{
        outline: none !important;
    }

    .container {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
    }

    .input_icon {
        width: 26px;
        height: 26px;
        object-fit: cover;
    }
}

.controlInput{
    display: flex;
    flex-direction: column;

    &__text{
        margin-top:4px;
        font-size: 15.5px;
        color: var(--c-text-error-select);
        background-color: var(--c-bg-error-input);
        border-radius: 4px;
        padding: 2px 8px;
    }
}

.Input {
    position: relative;
    .password-icon {
      position: absolute;
      top: 12px;
      right: 1rem;
      cursor: pointer;

      img {
        width: 20px;
        height: 20px;
        object-fit: cover;
      }
    }
  }


input,
textarea {
  width: 100%;
  padding: 8.5px;
  border-radius: 6.5px;
  background: var(--c-bg-input);
  border: 1px solid var(--c-border-input);
  color: var(--c-text-input);

  &:focus {
    border: 2px solid var(--c-input-focus);
  }
}