

table thead tr th:last-child {
    text-align: start;
    /* background-color: blue; */
  }

  table tbody tr td:last-child {
    /* background-color: blue; */
    text-align: start;
    width: 100%;
  }

  /* table td:last-child {
      width: 100%;
      /* text-align: start; */
  /* }  */

  .table-wrapper::-webkit-scrollbar {
      height: 8px;
      width: 8px;
  }

  .table-wrapper::-webkit-scrollbar-thumb {
      background: #cfcece;
      -webkit-border-radius: 1ex;
      /* -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); */
  }

  .table-wrapper {
    max-height: 33rem;
   /* background:red; */
    overflow-y: scroll;
    overflow-x: auto;
    background: white;
  }

  .table-main{
    /* min-width: 100%; */
  }

  table {
    /* border-collapse: collapse; */
    /* box-shadow: 0 5px 10px #e1e5ee; */
    table-layout: auto;
    background: white;
    
  }

  table > thead {
    background: white;
    /* box-shadow: 0 5px 10px #e1e5ee; */
    padding:1rem 2rem;
    position: sticky;
    /* z-index: var(--z-7); */
    top: 0;

  }

   thead > tr > th {
    padding: 0 16px;
    width: auto;

  }

  table > tbody > tr {
    margin: 5px !important;
    height: 50px;
  }

  table > tbody > tr > td {
    color: rgb(2, 0, 0);
    text-align: center;
    padding: 0.1rem 16px;

  }

  .continuous-1 {
    width: 100%;
    height:4px;
    background:
      linear-gradient(90deg,#0001 33%,#0005 50%,#0001 66%)
      #f2f2f2;
    background-size:300% 100%;
    animation: ct1 1s infinite linear;
  }

  @keyframes ct1 {
    0% {background-position: right}
  }

  .border-table-app{
    border-top: 1px solid rgba(213 216 221);

  }