.AppRoot-fullPage{
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .AppMain{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    &__layer {
        display: flex;
        flex: 1 1 0;
        min-height: 1px;

        &__PageAndTopBar{
            display: flex;
            flex: 1;
            flex-direction: column;
            position: relative;
        }
    }
  }
  
  
  .HomePageContent{
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    min-height: 1px;
    position: relative;

    &__contentContainer{
        width: 100%;
    }
  }

  .Scrollable--vertical{
    min-height: 1px;
    overflow-y: auto;
  }
  