
$black: #001b35;
$gray: #f0f3f4;
$grey-light: rgba(206, 214, 214, 0.781);
$black-web: #16212b;
$red: #d12f2d;
$white: #fff;
$blue: #1890ff;
$green: #40ce08;
$violet: #7508ce;
$blue-light: #1da1f2;

// text
$text-black: $black;
$text-grey: $gray;
$text-grey-light: $grey-light;
$text-black-web: $black-web;
$text-red: $red;
$text-white: $white;
$text-blue: $blue;
$text-green: $green;
$text-violet: $violet;
$text-blue-light: $blue-light;

// background
$background-black: $black;
$background-grey: $gray;
$background-grey-light: $grey-light;
$background-black-web: $black-web;
$background-red: $red;
$background-white: $white;
$background-blue: $blue;
$background-green: $green;
$background-violet: $violet;
$background-blue-light: $blue-light;

// border
$border-grey: $gray;
