@import "./colors.scss";


/* colors */
.c-bg-blue {
    background: $background-blue;
}

.c-bg-white {
  background: $background-white;
}

.c-bg-red {
  background: $background-red;
}

.c-bg-blue-light {
  background: $background-blue-light;
}

.c-bg-green {
  background: $background-green;
}

.c-bg-black {
  background: $background-black;
}

.c-bg-gray-light {
  background: $background-grey-light;
}

.c-bg-violet {
  background: $background-violet;
}

.c-bg-transparent{
  background: transparent;
}

/* text color */

.c-text-white {
  color: $text-white;
}

.c-text-black {
  color: $text-black;
}

.c-text-grey {
  color: $text-grey;
}

.c-text-green {
  color: $text-green;
}

.c-text-red {
  color: $text-red;
}

.c-text-gray {
  color: $text-grey;
}

.c-text-blue-light {
  color: $text-blue-light;
}

.c-text-blue{
  color: $text-blue;
}

// border

.c-border-white {
  border-color: $text-white;
}

.c-border-black {
  border: 1px solid $text-black
}

.c-border-grey {
  border-color: $text-grey;
}

.c-border-green {
  border-color: $text-green;
}

.c-border-red {
  border-color: $text-red;
}

.c-border-gray {
  border-color: $text-grey;
}

.c-border-blue-light {
  border-color: $text-blue-light;
}

.c-border-blue{
  border-color: $text-blue;
}

// rounded

.c-border-rounded-lg{
  border-radius: 10px;
}

.c-border-rounded-l{
  border-radius: 5px;
}


// padding

.c-p-y-3{
  padding-top: 4px;
  padding-bottom: 4px;
}

.c-p-x-3{
  padding-left: 4px;
  padding-right: 4px;
}

.c-p-x-4{
  padding-left: 10px;
  padding-right: 10px;
}


