.c-bg-button-dialog-accept{
    background: var(--c-bg-button-dialog-accept);
}
.c-text-button-dialog-accept{
    color: var(--c-text-button-dialog-accept)
}
.c-bg-button-dialog-cancel{
    background: var(--c-bg-button-dialog-cancel);
}
.c-text-button-dialog-cancel{
    color: var(--c-text-button-dialog-cancel);
}